@import url("/assets/css/default.css");

@layer theme {

    article {
        position: relative;
        border-radius: 16px;
        min-width: min(100%, 300px);
        overflow: clip;
        flex: 1;

        &>a {
            display: block;
            position: absolute;
            color: transparent;
            inset: 0;
        }

        & hgroup {
            background-image: linear-gradient(to top, #00000055 0 80%, transparent);
            display: flex;
            flex-flow: column;
            align-items: end;
            justify-content: end;
            padding: 16px;
            position: absolute;
            width: 100%;
            bottom: 0;
            right: 0;

            & p {
                text-align: end;
            }
        }

        & img {
            display: block;
            border-radius: 16px;
            width: 100%;
        }
    }

    body {
        color: #fff;
        background-color: #666;
        font-family: fjallaoneregular;
        padding: 16px;
        gap: 16px;
    }

    footer {
        background-color: #555;
    }

    header {
        display: flex;
        border-radius: 16px;
        background-color: #555;
        padding: 16px;
    }

    p {
        text-align: center;
    }
}

/* @font-face {
    font-family: "literal";
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/literal.bold-webfont.woff2") format("woff2"),
        url("/assets/fonts/literal.bold-webfont.woff") format("woff");
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

article {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    min-width: min(100%, 320px); /* min(100%, 320px): firefox * /
    flex: 1;

    & a {
        color: transparent;
        position: absolute;
        inset: 0;
    }

    & img {
        width: 100%;
    }
}

body {
    color: #fff;
    background-color: #333;
    font-family: literal, sans-serif;
    min-height: 100%;
    padding: 16px;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 15rem;
}

h1 {
    color: #eb3729;
    margin-bottom: 8px;
    font-size: 30rem;
}

h2 {
    color: #eb3729;
    margin: 4px 0;
    font-size: 20rem;
}

header {
    font-size: 30rem;
}

html {
    font-size: 6.25%;
}

main {
    gap: 16px;
    display: flex;
    flex-flow: row wrap;
    width: fit-content;
    margin: auto;
}

p {
    font-size: 16rem;
    margin: 4px 0;

} */