<!DOCTYPE html>
<html lang="{{ page.lang | default: 'de' }}">

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="{{ page.robots | default: 'follow, index' }}">
    <meta name="theme-color" content="#666" />

    <link rel="preload" href="{{ page.stylesheet | prepend: 'assets/css/' | relative_url  }}" as="style">
    <link rel="preload" href="/assets/fonts/fjallaone-regular-webfont.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="/assets/fonts/literal.bold-webfont.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="stylesheet" href="{{ page.stylesheet | prepend: 'assets/css/' | relative_url  }}">
</head>

<body>
    {{ content }}
</body>

</html>